<h4>Scores</h4>
<form>
    <div class="mb-3">
        <label for="relative-score" class="form-label">Relative Ratings Score <u>({{sugRelativeScore}})</u></label>
        <input name="relative" type="number" class="form-control" id="relative-score" [(ngModel)]="relativeScore" [min]="1" [max]="7"
        (change)="calcOverall()">
    </div>
    <div class="mb-3">
        <label for="ic-score" class="form-label">IC Score <u>({{sugICScore}})</u></label>
        <input name="ic" type="number" class="form-control" id="ic-score" [(ngModel)]="icScore" [min]="1" [max]="7"
        (change)="calcOverall()">
    </div>
    <div class="mb-3">
        <label for="rubric-score" class="form-label">Rubric Score <u>({{sugRubricScore}})</u></label>
        <input name="rubric" type="number" class="form-control" id="rubric-score" [(ngModel)]="rubricScore" [min]="1" [max]="7"
        (change)="calcOverall()">
    </div>
    <div class="mb-3">
        <label for="overall-score" class="form-label">Overall Score <u>({{calcSugOverall()}})</u></label>
        <input name="overall" type="number" class="form-control" id="overall-score" [(ngModel)]="overallScore" [min]="1" [max]="7">
    </div>
</form>
